#projectlogo img {
    height: 35px !important; /* Define uma nova altura para o logo */
    width: auto !important;
}

#projectname {
    font-size: 1.5em; /* Reduz o tamanho da fonte */
    line-height: 40px; /* Alinha o texto com o logo reduzido */
}

#titlearea {
    padding: 5px 0 5px 0;
}
